.icon {
    position: relative;
    top: 25%;
    height: 40%;
    cursor: pointer;
  }

.title{
    color: #f7ba2b;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 50%;
    width: 100%;
}

.slider {
    display: inline-block;
    width: 100px;
    position:relative;
    top: 65%;
}