.icon {
  position: relative;
  top: 25%;
  height: 40%;
  cursor: pointer;
}

.title {
  color: #f7ba2b;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 70%;
  width: 100%;
}

.slider {
  display: inline-block;
  width: 100px;
  position: relative;
  top: 65%;
  animation: slider-appear 2s ease-out backwards;
}

@keyframes slider-appear {
  from {
    opacity: 0;
    transition: translateY(-3rem);
  }
  to {
    opacity: 1;
    transition: translateY(0);
  }
}
