.bg{
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 0.5% 2%;
    border-radius: 14px;
    height: 400px;
    width: 96%;
    position: relative;
    z-index: 0;
    object-fit:fill;
}

.container {
    position:relative;
    z-index: 0;
    animation: card-appear 1s ease-in backwards;
}

@keyframes card-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }