.card {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    margin: 0% 2%;
    border-radius: 14px;
    background-color: #313939;
    width: 46%;
    height: auto;
    display:inline-block;
    margin: 2%;
    cursor: pointer;
  }
  
  .inside1{
    background-color: #D10000;
    width: 20px;
    height: 98px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 14px;
    display: inline-block;
  }

  .inside2{
    background-color: #f7ba2b;
    width: 20px;
    height: 98px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: inline-block;
  }
  
  .inside3{
    background-color: #acdc6e;
    width: 20px;
    height: 98px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: inline-block;
    
  }
  
  .inside4{
    background-color: #1e93dc;
    width: 20px;
    height: 98px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: inline-block;
  }
  
  .inside5{
    background-color: #6a1edc;
    width: 20px;
    height: 98px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: inline-block;
  }

  .info {
    display: inline-block;
    height: auto;
    width: 88%;
    position: relative;
    padding: 5px 4%;
  }

  p{
    padding: 0%;
    margin: 0%;
  }

  .header{
    display: flex;
    justify-content: space-between;
  }

  .frequency{
        font-size: 28px;
        color: aliceblue;
        font-weight: bold;
        align-self: flex-start;
  }

  .icon{
    align-self: flex;
    font-size: 35px;
    margin: 0% 2% 0% 0%;
  }

  .name{
        font-size: 24px;
        color: aliceblue;
        font-weight: bold;
  }

  .effect{
    font-size: 20px;
    color: #d1c300;
    margin: 0% 0% 1% 0%;
  }

  .slider {
    display: inline-block;
    margin: 2% 2%;
    width: 70%;
    vertical-align: auto;
  }