.card {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
  margin: 6px 2%;
  border-radius: 14px;
  background-color: #313939;
  width: 46%;
  height: 98px;
  position: relative;
  display:inline-block;
}

.inside1{
  background-color: #D10000;
  width: 20px;
  height: 98px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.inside2{
  background-color: #f7ba2b;
  width: 20px;
  height: 98px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.inside3{
  background-color: #acdc6e;
  width: 20px;
  height: 98px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.inside4{
  background-color: #1e93dc;
  width: 20px;
  height: 98px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.inside5{
  background-color: #6a1edc;
  width: 20px;
  height: 98px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.icon{
  margin-top: 15px;
  margin-left: 80px;
  font-size: 60px;
}

.cardContainer{
  text-align: center;
}

.labelBox {
  display: inline;
  text-align: center;
  width: auto;
}

.label {
  position: relative;
  bottom: 50%;
  left: 200px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.detail {
  color: #acdc6e;
  display: inline;
  position: relative;
  bottom: 25%;
  left: 470%;
  width: auto;
}